<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <form action="/user" method="get">
        <h2>The Total number of users are : <%= count %></h2>
        <button>join us today!</button>
    </form>
</body>
</html>