<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <form action="/user/new" method="post">
        Enter Email : <input name="email" type="email" placeholder="Enter Email"> <br>
        Enter Username : <input name="username" type="text" placeholder="Enter Username"> <br>
        Enter Password : <input name="password" type="password" placeholder="Enter Password"> <br>
        <button>Submit</button>
    </form>
</body>
</html>